# ignore ide or text editor config files
.vscode/
.idea/
idea/
build/

# ignore cmake output files
CMakeFiles/
cmake-build-debug/
CMakeCache.txt

# ignore latex output files
report/*.aux
report/*.log
report/*.nav
report/*.out
report/*.snm
report/*.toc
report/*.vrb

# ignore doxygen files

Doxyfile
latex/